.architecture-bitcoin-node {
  position: relative;
  width: 520px;
  text-align: center;
}

.architecture-bitcoin-node > strong {
  display: block;
  margin: 0 0 14px;
  font-size: 58px;
  line-height: 69.6px;
  white-space: nowrap;
}

.architecture-bitcoin-node-picture {
  width: 520px;
  height: 364px;
}

.architecture-bitcoin-node-picture > svg {
  display: block;
  width: 100%;
  height: 100%;
}
