.architecture-laptop {
  width: 800px;
  text-align: center;
}

.architecture-laptop-body {
  position: relative;
  height: 500px;
}

.architecture-laptop-hardware {
  display: block;
  width: 800px;
  height: 500px;
}

.architecture-laptop-screen {
  position: absolute;
  top: 38px;
  left: 75px;
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
  background: linear-gradient(155deg, #fff, #edf3fa);
  text-align: left;
}

.architecture-laptop-name {
  display: block;
  margin-top: 26px;
  font-size: 61px;
  line-height: 73px;
  white-space: nowrap;
}
